<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <% if (messages) { %>
    <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= messages.error %>
      </div>
      <% } %>
        <% if (messages.success) { %>
          <div class="alert alert-success" role="alert">
            <%= messages.success %>
          </div>
          <% } %>
            <% } %>







              <%- include('../partials/auth-nav.ejs') %>
                <%- include('../partials/sidebar.ejs') %>

                  <div class="container tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                      tabindex="0">
                      <%- include('../partials/admin/drafts.ejs') %>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                      tabindex="0">...
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                      tabindex="0">...
                    </div>
                  </div>



                  <%- include('../partials/scripts.ejs') %>




</body>

</html>