<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Login or Register</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>

    <main class="root">

      <div class="content-card">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">Register</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#login-tab"
              type="button" role="tab" aria-controls="login-tab" aria-selected="false">Login</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <form action="/auth/register" method="POST">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" required>
                <div id="nameHelp" class="form-text">Enter your full name</div>
              </div>
              <div class="mb-3">
                <label for="emailr" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="emailr" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input name="phone" type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" required>
                <div id="phoneHelp" class="form-text">Enter your phone number</div>
              </div>
              <!-- Account type radio buttons -->
              <div class="mb-3">
                <select name="type" required class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option selected>Select Account Type</option>
                  <option value="tenant">Tenant</option>
                  <option value="landlord">LandLord</option>
                  <option value="admin">Administrator</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="passwordr" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="passwordr" required>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" required>
              </div>
              <button type="submit" class="btn btn-success">Register</button>
            </form>
          </div>

          <!--Login Form Tab-->
          <div class="tab-pane fade" id="login-tab" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <form action="/auth/login" method="POST">
              <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                  <%= messages.error %>
                </div>
                <% } %>
                  <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                      <%= messages.success %>
                    </div>
                    <% } %>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                          required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password" required>
                      </div>
                      <button type="submit" class="btn btn-success">Login</button>
            </form>

          </div>
        </div>
      </div>


    </main>

    <%- include('../partials/scripts.ejs') %>
      <script>
        $(document).ready(() => {
          if (location.search !== "") {
            const search = location.search
            // get the action query
            if (search.slice(1, 7) === "action") {
              const query = search.slice(8)

              if (query === "login") {
                // Set the active tab to be the Login tab

                $('#pills-tab button[data-bs-target="#login-tab"]').tab("show")
              }
            }
          }
        })
      </script>
</body>

</html>