<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>

    <main class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="header-content col-md-6">
            <h1 class="header-heading display-4">Welcome to Group A PMS</h1>
            <p class="lead">The Number #1 real-estate marketplace in the world</p>

            <% if (user) { %>
              <a class="btn btn-success btn-lg" href="/dashboard/<%= user.type %>" role="button">Go To Dashoard</a>
              <% } else { %>
                <a class="btn btn-primary btn-lg" href="/auth" role="button">Register</a>
                <a class="btn btn-success btn-lg" href="/auth?action=login" role="button">Login</a>
                <% } %>
          </div>
        </div>
      </div>
    </main>

    <section class="explore-properties">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 class="explore-properties-heading">Explore Properties</h2>
          </div>
        </div>
        <div class="row">
          <% if (properties) {%>
            <% properties.map((property, i)=> { %>
              <div class="col-md-4">
                <div class="card explore-properties-card">
                  <!--A random image of a house-->
                  <img class="card-img-top" src="<%= property.images[0]?.url %>">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= property.title %>
                    </h5>
                    <p class="card-text">
                      <%= property.description %>
                    </p>
                    <!--Price-->
                    <p class="card-subtitle mb-2 text-body-secondary">Price: UGX <%= property.price %>
                    </p>
                    <a href="/property/<%= property.id %>" class="btn btn-primary">View Property</a>
                  </div>
                </div>
              </div>
              <% }) %>
                <% } %>

        </div>

      </div>
    </section>

</body>

</html>