<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Tenant Dashboard</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../partials/auth-nav.ejs') %>
    <%- include('../partials/sidebar.ejs') %>

      <div class="container tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
          tabindex="0">
          <%- include('../partials/tenant/main.ejs') %>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <%- include('../partials/tenant/requests.ejs') %>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...
        </div>
      </div>



      <%- include('../partials/scripts.ejs') %>




</body>

</html>